extends layout
block content
 .row.banner
 .col-12
 h1(style="margin-top:100px")= ' MedFinder'
 .row
 .col-12.col-lg-8
 p
 |  MedFinder is a software application that enables patients to schedule appointments with healthcare providers, such as doctors, dentists, or therapists. 

 | <br /><br />